{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="static/home.css">
{% endblock %}
{% block content %}
<div class="row">
  <div class="col">
    <h5><a href="/urls" class="text-decoration-none">Webseiten</a></h5>
    <ul class="list-group">
      {% for url in data.urls %}
        <li class="list-group-item">{{url}}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="col">
    <h5><a href="/mobiles" class="text-decoration-none">Mobilfunknummern</a></h5>
    <ul class="list-group">
      {% for number in data.numbers %}
        <li class="list-group-item">{{number}}</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}