{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="static/home.css">
{% endblock %}
{% block content %}
<ul>
  <li>

  </li>
  <li>

  </li>
</ul>
<div class="row">
  <div class="col">
    <h5><a href="/urls" class="text-decoration-none">Webseiten</a></h5>
    <ul>
      {% for url in data.urls %}
        <li>{{url}}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="col">
    <h5><a href="/mobiles" class="text-decoration-none">Mobilfunknummern</a></h5>
    <ul>
      {% for number in data.numbers %}
        <li>{{number}}</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}