<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/home.css">
  <link rel="stylesheet" href="static/bootstrap.min.css">
  <title>FW-Systeme URL-Checker</title>
</head>
<body>
  <div class="container">
    <h2>FW-Systeme URL-Checker</h2>
    <ul>
      <li>
        <a href="/urls">URLS</a>
      </li>
      <li>
        <a href="/mobiles">Mobilnummern</a>
      </li>
    </ul>
  </div>
</body>
</html>