{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="static/urls.css">
{% endblock %}
{% block content %}
  <h3 class="heading">URLS</h3>
  <ul class="mt-3 list-group">
    {% for url in urls %}
    <form method="post" action="/urls/delete">
      <input type="hidden" name="url" value="{{url}}">
      <li class="list-group-item">{{url}} <button class="badge bg-danger float-end" type="submit">X</button></li>
    </form>
    {% endfor %}
  </ul>
  <form method="post" action="/urls/new" class="mt-3">
    <label for="new_url">Neue Website hinzufügen</label>
    <br>
    <input type="text" id="new_url" name="new_url" required>
    <button type="submit">Submit</button>
  </form>
{% endblock %}